<link rel="stylesheet" href="/styles.css"> 

<style>
/* Estilos para o corpo da página */

/* Estilos para o footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}


</style>


<footer>
    <p><strong>&copy; 2025 Enciclopédia dos Animais. Todos os direitos reservados.</strong></p>
</footer>
